# Build output
target/
build/

# Git
.git
.gitignore
.gitattributes

# IDE and editor
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
.springBeans
.apt_generated
.sts4-cache
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Docs and misc
HELP.md
*.md
nbactions.xml

# Docker
Dockerfile
.dockerignore
