<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
       
        
    </head>
    <body>
        
        
        <!-- Nav bar -->
        <!-- este es un nav mar de bootstrap
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar1">
            <div class="container">
                <a class="navbar-brand" href="#">Gestor de Mantenimiento</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/vehiculos}">Vehiculos</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Estadisticas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->
        


        <nav class="navbar navbar-expand-lg bg-gradiente-personalizado">
            <div class="container-fluid">
                <!-- Todo el contenido alineado a la izquierda -->
                <div class="d-flex">
                    <a class="navbar-brand me-4" href="#">Mi Sitio</a>
                    <div class="navbar-nav">
                        <a class="nav-link text-white me-3" href="#">Inicio</a>
                        <a class="nav-link text-white me-3" href="#">Productos</a>
                        <a class="nav-link text-white me-3" href="#">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
        
        
        <!-- Banner -->
        <div class="banner-container">
            <h1 id="titulo-banner">Portfolio</h1>
            <div class="banner"> 
                <img src="images/tren.jpg" class="my_cover">
            </div>
        </div>
        
        
        
        
        <!-- content -->
        
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-3">
                    <img src="images/lily-3520837_1280(1).jpg" class="imagen1">
                </div>
                <div class="col-md-8 card">
                    <p>algun texto</p>
                </div>
                
            </div>
            <div class="row" id="information2">
                <div class="col-md-6">
                <h2>Resumen aptitudes</h2>
                    <p>
                        asddfasdñlkjalsñkdjflkasdjfñlkj \n
                        alfñajowesifjqpowiefjmnañlskdfj
                        ñawoeijfqpwoiegahsñoeighñaosiehg

                        añslekjfañslekgjlskñalskehgñlasañl
                        añlsdkfjñalskdjfñaslkhgdñalskdjf
                    </p>
                </div>
            </div>
            <div class="row" id="information3">
                <div class="col-md-8 card">
                    <p>algun texto</p>
                </div>
                <div class="col-md-3">
                    <img src="images/balcon2.jpg" class="imagen1">
                </div>
                qui hay mas información
            </div>
        </div>
        
    </body>
</html>
